<template>
    <div class="container">
        <div class="row align-self-center">
            <div>
                <button @click="logout" class="btn btn-warning">Logout</button>
            </div>
        </div>
        <div class="row align-self-center">
            <div>
                <CarsListComponent :cars="cars" />
            </div>
        </div>
    </div>
</template>

<script>
import CarsListComponent from "../components/CarsListComponent.vue";
const CARS_URL = 'http://127.0.0.1:8000/api/cars';
export default {
    name: 'CarsView',
    components: {
        CarsListComponent
    },
    data() {
        return {
            cars: []
        };
    },
    created(){
        fetch(
                CARS_URL,
                {
                    method: "GET"
                }
            ).then((data) => data.json())
            .then((data) => {
                this.cars = data.carModelList
            })
            .catch((error) => {
                this.$swal({
                    icon: 'error',
                    text: error.message
                })
        });
    },
    methods: {
        logout() {
            localStorage.removeItem('user');
            localStorage.removeItem('car');
            this.$router.push('/');
        }
    }
}

</script>
