<template>
    <div class="container">
        <div class="row align-self-center">
            <div class="col">
                <LoginComponent />
            </div>
            <div class="col">
                <RegistryComponent />
            </div>
        </div>
    </div>
</template>

<script>
import LoginComponent from '../components/LoginComponent.vue'
import RegistryComponent from '../components/RegistryComponent.vue'
export default {
    name: 'LoginAndRegistry',
    components: {
        LoginComponent,
        RegistryComponent
    }
}

</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
