<template>
    <div 
        @click="submit"
        @mouseenter="hover = true" 
        @mouseleave="hover = false" 
        v-if="car" 
        class="m-3 w-100 h-100" 
        :style="getStyle()"
    >
        <b>{{car.name}}</b> <br />
        <span>{{car.brandName}}</span> <br/>
        <img width="200" :src="car.image_link ? car.image_link : image" />
    </div>
</template>

<script>
const FAVOURITE_URL = 'http://127.0.0.1:8000/api/favourite';
export default {
    name: 'CarComponent',
    props: {
        car: null
    },
    data() {
        return {
            hover: false,
            image: require('../assets/noImageFound.jpg')
        };
    },
    methods: {
        getStyle() {
            if (this.car.id == localStorage.car) return 'background-color: #eba4a4;';
            return this.hover ? 'background-color: beige;' : 'background-color: white;';
        },
        submit() {
            fetch(
                FAVOURITE_URL,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'userId': localStorage.user,
                        'carModelId': this.car.id
                    }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                }
            ).then((data) => data.json())
            .then((data) => {
                if (data.status == 404) {
                    this.$swal({
                        icon: 'error',
                        text: data.message
                    })
                }

                localStorage.car = this.car.id;
                this.$router.go();
            })
            .catch((error) => {
                this.$swal({
                    icon: 'error',
                    text: error.message
                })
            });
        }
    }
}

</script>

<style>
.hover {
    background-color: beige;
}
</style>
