<template>
    <div class="container">
        <div class="row align-self-center">
            <div v-for="(car, index) in cars" :key="index" class="col-4">
                <CarComponent :car="car" />
            </div>
        </div>
    </div>
</template>

<script>
import CarComponent from "./CarComponent.vue";
export default {
    name: 'CarsListComponent',
    components: {
        CarComponent
    },
    props: {
        cars: []
    },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}
</style>
