<template>
    <h3>Login</h3>
        <div class="mb-3">
            <label for="inputNumberEmployee" class="form-label">Numero de empleado:</label>
            <input v-model="this.employeeNumber" type="text" class="form-control" id="inputNumberEmployee" aria-describedby="emailHelp">
        </div>
        <button @click="submit" type="submit" class="btn btn-primary">Login</button>
</template>

<script>
const USER_URL = 'http://127.0.0.1:8000/api/login-user';
export default {
    name: 'LoginComponent',
    data() {
        return {
            employeeNumber: ''
        };
    },
    methods: {
        submit() {
            fetch(
                USER_URL,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'employeeNumber': this.employeeNumber
                    }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                }
            ).then((data) => data.json())
            .then((data) => {
                if (data.status == 404) {
                    this.$swal({
                        icon: 'error',
                        text: data.message
                    })
                }

                localStorage.user = data.id;
                localStorage.car = data.favouriteCarModel;
                this.$router.push('/cars');
            })
            .catch((error) => {
                this.$swal({
                    icon: 'error',
                    text: error.message
                })
            });
        }
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}
</style>
